<!-- <div class="row container-fluid">
  <div class="col-6 font-weight-bold">TaxShield</div>
  <div class="col-6 text-right">
    <button class="btn btn-danger" (click)="logout()">Logout</button>
  </div>
</div> -->

<div
  class="example-container"
  [class.example-is-mobile]="mobileQuery.matches"
  *ngIf="true"
>
  <mat-toolbar class="example-toolbar">
    <!-- style="background: transparent; color: rgb(15, 14, 14)" -->
    <button
      mat-icon-button
      class="border-0"
      style="background: transparent; color: rgb(15, 14, 14)"
      (click)="snav.toggle()"
    >
      <mat-icon><i class="fa fa-bars" aria-hidden="true"></i></mat-icon>
    </button>
    <!-- <h1 class="example-app-name">TaxShield</h1> -->
    <div class="row w-100 ml-5 justify-content-end align-items-center">
      <div>
        <div class="dropdown link_dropdown">
          <a data-toggle="dropdown">
            <h5 class="user-name font-weight-bold" style="margin:0;">
              {{ authService.credentials.payload.user.fullname | uppercase}} |
              <span style="font-size: 12px;">{{ authService.credentials.payload.user.role }}</span>
              <!-- <span class="caret"></span> -->
              <i class="fa fa-caret-down ml-2"></i>
            </h5>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a class="font-14" >
                Abcd</a>
            </li>
            <!-- <li ng-repeat="(key, item) in verifiedLinkUser">
              <a class="font-14" ng-click="main.generateTokenLinkUser(item.linkedUserId, item.email)">{{ main.getUserRole(item.role) | uppercase}} | {{ item.email }}</a>
            </li> -->
            <li>
              <a>Xyz</a>
            </li>
            <li>
              <a class="font-14" ng-click="main.gotoLinkaccount()">
                Link more Accounts</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col text-right">
        <!-- <div class="dropdown"> -->
          <button class="btn btn-secondary dropdown-toggle p-0 px-2 text-uppercase" style="background-color: #4CAF50; " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Billing
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Invoice</a>
            <a class="dropdown-item" href="#">Services</a>
            <a class="dropdown-item" href="#">Billing Method</a>
          </div>
        <!-- </div> -->
        <i class="fa fa-expand ml-3" style="color: #4CAF50; cursor: pointer;" (click)="expandClicked()"></i>
        <i class="fa fa-refresh ml-3" style="color: #4CAF50; cursor: pointer;" (click)="window.location.reload()"></i>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #snav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
    >
      <mat-nav-list>
        <div class="brand-logo">
          <div id="logo">
            <i
              style="vertical-align: middle; font-size: 42px; color: #4caf50"
              class="md md-verified-user f40"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                height="42"
                fill="#4CAF50"
                viewBox="0 0 24 24"
                width="42"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M12 1L3 5v6c0 5.55 3.84 10.74 9 12 5.16-1.26 9-6.45 9-12V5l-9-4zm-2 16l-4-4 1.41-1.41L10 14.17l6.59-6.59L18 9l-8 8z"
                />
              </svg>
            </i>
          </div>
          TaxShield
        </div>
        <div
          class="user-logged-in"
          data-intro="This is where you can reach your profile and logout"
          data-position="right"
        >
          <div class="content">
            <div class="user-name">
              {{ authService.credentials.payload.user.fullname }} <span class="f9" style="color: #999;">{{ authService.credentials.payload.user.role }}</span>
            </div>
            <div class="user-email">{{ authService.credentials.payload.user.email }}</div>
            <div class="user-actions">
              <a class="mr-2" href="">profile</a>
              <a href="" (click)="logout()">logout</a>
            </div>
          </div>
        </div>

        <!-- nav list -->

        <a mat-list-item style="color: #e7e7e7" [routerLink]="['/marketingreports']" class="ml-2"
          ><i class="fa fa-home mr-2" style="font-size: 24px"></i>Dashboard</a
        >

        <a mat-list-item style="color: #e7e7e7" routerLink="." class="ml-2"
          ><i class="fa fa-phone mr-2" style="font-size: 24px"></i>Call Log</a
        >

        <a mat-list-item style="color: #e7e7e7" routerLink="." class="ml-2"
          ><i class="fa fa-comments mr-2" style="font-size: 24px"></i>Text Log</a
        >

        <a mat-list-item style="color: #e7e7e7" routerLink="." class="ml-2"
          ><i class="fa fa-phone mr-2" style="font-size: 24px"></i>My Numbers</a
        >

        <a mat-list-item style="color: #e7e7e7" routerLink="." class="ml-2"
          ><i class="fa fa-comments mr-2" style="font-size: 24px"></i>Text</a
        >

        <a mat-list-item style="color: #e7e7e7" routerLink="." class="ml-2"
          ><i class="fa fa-globe mr-2" style="font-size: 24px"></i>Geo Router</a
        >

        <mat-accordion style="color: rgb(231, 231, 231)">
          <mat-expansion-panel
            mat-list-item
            style="
              background: #474747;
              color: rgb(231, 231, 231);
              box-shadow: none;
            "
          >
            <mat-expansion-panel-header mat-list-item>
              <mat-panel-title style="color: white" class="align-items-center">
                <i class="fa fa-line-chart mr-2" style="font-size: 24px"></i>Reports
              </mat-panel-title>
            </mat-expansion-panel-header>
            
            <a mat-list-item style="color: #e7e7e7" routerLink="." class="ml-2"
          ><i class="fa fa-line-chart mr-2" style="font-size: 24px"></i>Reports</a
        >

        <a mat-list-item style="color: #e7e7e7" [routerLink]="['/marketingreports']" class="ml-2"
          ><i class="fa fa-line-chart mr-2" style="font-size: 24px"></i>Marketing</a
        >

          </mat-expansion-panel>
        </mat-accordion>

        <a mat-list-item style="color: #e7e7e7" routerLink="." class="ml-2"
          ><i class="fa fa-building-o mr-2" style="font-size: 24px"></i>Offices</a>

        <a mat-list-item style="color: #e7e7e7" routerLink="." class="ml-2"
          ><i class="fa fa-question-circle mr-2" style="font-size: 24px"></i>Help</a
        >

        <!-- <a
          mat-list-item
          style="color: #e7e7e7"
          routerLink="."
          *ngFor="let nav of fillerNav"
          >{{ nav }}</a
        > -->
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <p *ngFor="let content of fillerContent">{{content}}</p> -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
