
<mat-vertical-stepper
  class="m-4 -text-secondary"
  #stepper
  [linear]="isLinear"
  [selectedIndex]="currentStep"
>
  <ng-template matStepperIcon="edit" let-index="index">
    <!-- {{ index + 1 }} -->
    <i class="fa fa-check"></i>
  </ng-template>

  <!-- Define the number of the step -->
  <ng-template matStepperIcon="number" let-index="index">
    {{ index + 1 }}
  </ng-template>


  <mat-step label="Step 1" [completed]="stepsCompletion[0]"> Its step 1 </mat-step>
  <mat-step label="Step 2" [completed]="stepsCompletion[1]"> Its step 2 </mat-step>
  <mat-step label="Step 2" [completed]="stepsCompletion[2]"> Its step 3 </mat-step>
  <mat-step [completed]="stepsCompletion[3]">
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
